<!DOCTYPE html>
<!--
  Interphase by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Book a Technician</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header">
        <h1><a href="index.html">Interphase</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
          </ul>
        </nav>
      </header>



    

    <!-- Two -->
      <section id="two" class="wrapper style2 align-center">
        <div class="container">
          <header>
          
          </header>
          <div class="row">
            <section class="feature 6u 12u$(small)">
              <img class="image fit" src="images/1.jpg" alt="" />
              <h3 class="title">Daniel Meyer</h3>
              <p></p>
            </section>
            <section class="feature 6u$ 12u$(small)">
              <img class="image fit" src="images/2.jpg" alt="" />
              <h3 class="title">Mark Schmidt</h3>
              <p></p>
            </section>
            <section class="feature 6u 12u$(small)">
              <img class="image fit" src="images/3.jpg" alt="" />
              <h3 class="title">Thomas Maier</h3>
              <p></p>
            </section>
            <section class="feature 6u$ 12u$(small)">
              <img class="image fit" src="images/4.jpg" alt="" />
              <h3 class="title">Stephan Schmitt</h3>
              <p></p>
            </section>
          </div>
          
        </div>
      </section>

    <!-- Footer -->
      

  </body>
</html>