<!DOCTYPE html>
<!--
  Interphase by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
  <head>


    <meta charset="UTF-8">
    <title>Book a Technician</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    
     <%= stylesheet_link_tag 'application' %>
     <%= javascript_include_tag 'application' %>

   
 
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
<body>
<%= yield %>
  </body>
</html>