<!-- Header -->
<div id="header">
  <h1><a href="index.html">WeTech</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </nav>
</div>

<!-- Banner -->
<section id="banner">
  <h2>Book your technician!</h2>
  <p>Here you can see all the availability of our technicians.</p>
  <ul class="actions">
    <li>
      <a href="../technicians/show" class="button big">Start booking</a>
    </li>
  </ul>
</section>