
  
<!-- Banner -->
<section id="banner">
  <h2>Book your technician!</h2>
  <p>Here you can see all the availability of our technicians.</p>
  <ul class="actions">
    <li>
     <a href="../technicians" class="button big">Start booking</a>
     <%# <%= link_to "Start booking", technicians_path %>
    </li>
  </ul>
  <br>
  <br>
</section>