
    <!-- Header -->
      <header id="header">
        <h1><a href="index.html">Interphase</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
          </ul>
        </nav>
      </header>



    

    <!-- Two -->
      <section id="two" class="wrapper style2 align-center">
        <div class="container">
          <header>
          
          </header>
          <div class="row">
            <section class="feature 6u 12u$(small)">
             
           <a href="../appointments/show1"> <%= image_tag "1.jpg", class:"image fit" %> </a>
              <h3 class="title">Daniel Meyer</h3>
              <p></p>
            </section>
            <section class="feature 6u$ 12u$(small)">
             
      <a href="../appointments/show2">   <%= image_tag "2.jpg", class:"image fit" %></a>
              <h3 class="title">Mark Schmidt</h3>
              <p></p>
            </section>
            <section class="feature 6u 12u$(small)">
              
        <a href="../appointments/show3">         <%= image_tag "3.jpg", class:"image fit" %></a>
              <h3 class="title">Thomas Maier</h3>
              <p></p>
            </section>
            <section class="feature 6u$ 12u$(small)">
              
       <a href="../appointments/show4">          <%= image_tag "4.jpg", class:"image fit" %></a>
              <h3 class="title">Alex Schmitt</h3>
              <p></p>
            </section>
          </div>
          
        </div>
      </section>

    <!-- Footer -->
      

  