<h1> Your technician is informed. See you. </h1>

<%#<script>

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
       
    })

});
</script>

<div id='calendar'></div>

 <%= link_to 'free', new_appointment_path %>

<%#<% @appointments.each do |appointment| %>
<%#  <%= link_to appointment.date, appointment %>
<%# <% end %>

